.form {
  width: 24rem;
  padding: 2rem;
  border-radius: 1rem;
  background-color: white;
}
.form__title {
  margin-bottom: 0.5rem;
}
.form__description {
  margin-bottom: 2rem;
}
.form__group {
  position: relative;
  height: 3rem;
  margin-bottom: 1.5rem;
}
.form__input {
  width: 100%;
  height: 100%;
  border: 2px solid #cfd8dc;
  border-radius: 0.5rem;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  outline: none;
  padding: 1.25rem;
  background: none;
}
.form__input:hover {
  border-color: #9dedff;
}
.form__input:focus {
  border-color: #7bdff6;
}
.form__label {
  position: absolute;
  left: 1rem;
  top: 0.9rem;
  padding: 0 0.5rem;
  background-color: white;
  transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
}
.form__button {
  display: block;
  margin-left: auto;
  padding: 0.75rem 2rem;
  background-color: #9dedff;
  font-family: inherit;
  font-weight: inherit;
  border-radius: 0.5rem;
  outline: none;
  border: none;
  cursor: pointer;
  transition: background-color 200ms ease-in;
}
.form__button:hover {
  background-color: #7bdff6;
}


.form__input:focus ~ .form__label,
.form__input:not(:placeholder-shown).form__input:not(:focus) ~ .form__label {
  top: -0.5rem;
  left: 0.8rem;
  font-size: 0.8rem;
}

.form__group-select::after {
  content: "\25BC";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: 30px;
  height: 20px;
  color: #5930ff;
  cursor: pointer;
  pointer-events: none;
  text-align: center;
}

select {
  appearance: none;
  outline: 0;
  border: 1px solid #c7ccdb;
  border-radius: 0.2rem;
  flex: 1;
  padding: 1rem;
  color: #767883;
  cursor: pointer;
}
select::-ms-expand {
  display: none;
}