* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.footer {
  background-color: #24262b;
  padding: 50px 0;
  margin-top: auto;
  width: 100%;
}

.footer-row {
  display: flex;
  flex-wrap: wrap;
}

.footer-column {
  width: 25%;
  padding: 0 15px;
}

.footer-column h4 {
  font-size: 18px;
  color: white;
  text-transform: capitalize;
  margin-bottom: 20px;
  font-weight: 500;
  position: relative;
}

.footer-column h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  height: 2px;
  width: 50px;
  background-color: #e91e63;
}

.footer-column ul li {
  line-height: 1.5;
  list-style-type: none;
}

.footer-column ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-column ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #bbbbbb;
  text-decoration: none;
  font-weight: 300;
  display: block;
  transition: all 0.3s ease;
}

.footer-column ul li a:hover {
  color: #ffffff;
  padding-left: 10px;
}

.footer-social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
  position: relative;
}

.footer-social-links a svg{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.footer-social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}