.page {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  position: relative;
  padding: 0;
}

.lobby,
.question-preview {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  width: 90%;
  height: 600px;
  border: 1px solid black;
  padding: 10px;
}

.lobby button {
  width: 40%;
  margin-top: 10px;
  cursor: pointer;
  box-shadow: rgb(0 0 0 / 25%) 0px -4px inset;
  background: rgb(19, 104, 206);
  color: rgb(255, 255, 255);
  border-radius: 4px;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  min-height: 42px;
  padding: 0px 16px 4px;
  line-height: 0.875rem;
}

.question-preview h1 {
  font-size: 90px;
}
