* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* html {
  min-height: 100vh;
} */

body {
  font-family: Montserrat, sans-serif;
  padding-top: 6vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.nav {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 2;
  background: #fff;
  height: 6vh;
  box-shadow: 0 0 10px #80838b;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
  margin: 0 2rem;
}

.nav__list-logo {
  list-style: none;
  margin-right: auto;
  cursor: pointer;
}

.logo-img{
  width: 50px;
}

.nav__list-item {
  list-style: none;
  font-weight: bold;
  position: relative;
  padding: 1.5rem 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.nav__list-item::after {
  content: "";
  width: 0;
  height: 0.3rem;
  border-radius: 0.2rem;
  position: absolute;
  left: 1rem;
  bottom: 0.8rem;
  background-color: #f06292;
  transition: width 200ms ease-in;
}

.nav__list-item:hover::after,
.nav__list-item:focus::after {
  width: 80%;
}

.nav__list-item:hover ul,
.nav__list-item:focus ul {
  opacity: 1;
  visibility: visible;
}

.nav__list-item-drop {
  position: absolute;
  top: 4rem;
  left: -1rem;
  box-shadow: 0 0 10px #e1e5ee;
  background-color: white;
  border-radius: 0.2rem;
  width: 12rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity 200ms ease-in-out;
}

a {
  text-decoration: none;
}

.nav__list-item-drop li {
  list-style: none;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  transition: background-color 200ms ease-in-out;
}
.nav__list-item-drop li:hover,
.nav__list-item-drop li:focus {
  background-color: #fce4ec;
}
